################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BHAS version FINAL/.vs/BHAS version FINAL/FileContentIndex/a1a12853-2f17-4e7a-8e9e-f33944fb9ca3.vsidx
